@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;
	background-size: cover;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

body h1, body p {
	font-family: 'Cabin', sans-serif;
	color: whitesmoke;
	text-align: center;
	text-shadow: 3px 1px 5px black;
}